@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}
.epilogue * {
  font-family: "Epilogue", sans-serif !important;
}
*:focus {
  outline: none !important;
}

.cover_image {
  width: 1200px;
  height: 630px;
}

.white-light-shadow {
  box-shadow: 0 14px 36px rgb(0 0 0 / 3%), 0 30px 60px rgb(0 0 0 / 2%);
}

.bg-gradient {
  background: linear-gradient(#2c3c96, #564bb3, #ae64db);
}
.bg-app-graient-to-l {
  background: linear-gradient(to left, #2c3c96, #564bb3, #ae64db);
}

.radial_container {
  width: 25%; /*circle size*/
  max-width: 256px; /*max circle size*/
  margin: 2rem;
}

.radial_wrapper {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}

.debug {
  color: #9b59b6;
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  font-size: 3vw;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #9b59b6;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.circle:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #ecf0f1;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.circle .dot {
  position: absolute;
  width: 5%;
  height: 50%;
  left: 47.5%;
  top: 0;
  transform: rotate(0deg);
  transform-origin: center bottom;
}
.circle .dot:before {
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  width: 200%;
  transform: translate3d(-25%, -25%, 0);
  height: 0;
  padding-bottom: 200%;
  border-radius: 50%;
  cursor: pointer;
}
