/* Cover Image */
.cover_image {
  width: 1200px;
  height: 630px;
}

/* Shadows */
.white-light-shadow {
  box-shadow: 0 14px 36px rgb(0 0 0 / 3%), 0 30px 60px rgb(0 0 0 / 2%);
}

/* Gradient */
.bg-gradient {
  background: linear-gradient(#2c3c96, #564bb3, #ae64db);
}
.bg-app-graient-to-l {
  background: linear-gradient(to left, #2c3c96, #564bb3, #ae64db);
}
.dark .bg-gradient {
  background: linear-gradient(to bottom, #9257fe, #52fdbc);
}
.dark .bg-app-graient-to-l {
  background: linear-gradient(to right, #9257fe, #52fdbc);
}
.text-gradient {
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* Custom file input */
.custom-file-input {
  color: transparent;
  width: 100%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Image 🚀";
  color: #222;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  font-size: 16px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
}
.dragover::before {
  content: "Drop, its like Hot 🔥";
  background: transparent !important;
  color: #fff;
}

/* resize or drag effect */
.resizerComp:hover .resizer {
  display: block !important;
}

/* Overlay */
.overlay {
  height: 630px;
  width: 1200px;
  z-index: -1;
}
#leftBar {
  transition: 0.5s !important;
}

/* Normal scrollbar */
::-webkit-scrollbar {
  width: 10px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to bottom, #2c3c96, #564bb3, #ae64db);
}

/* Dark Scrollbar */
.dark *::-webkit-scrollbar {
  background: #0e102d;
}
.dark *::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9257fe, #52fdbc);
}

/* Dark Mode */
.dark input {
  color: #fff !important;
}
.dark .MuiSelect-root {
  color: #fff !important;
}
.dark fieldset {
  border-color: #555;
}
.dark .epilogue * {
  color: #ddd !important;
}
.dark .circularPicker * {
  color: #fff;
}
.dark .custom-file-input::before {
  background: #182341;
  color: #fff;
}

/* Material Design Fix */
ul.MuiList-root.MuiMenu-list.MuiList-padding {
  display: flex;
  flex-direction: column;
}
ul.MuiList-root.MuiMenu-list.MuiList-padding li {
  padding: 5px;
  padding-left: 20px;
  justify-content: flex-start;
}
.menu ul.MuiList-root.MuiMenu-list.MuiList-padding li {
  padding-left: 0px;
  padding: 0px;
}

/* Home Page */
.home {
  background: url("/assets/bg.png") center, #f7f7fc;
  background-size: contain;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0px 32px 64px 0px #11111114;
}

/* Nprogress */
#nprogress .bar {
  background: linear-gradient(to left, #2c3c96, #564bb3, #ae64db);
}

/* Position trackers */
.position-tracker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
